html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $neutral-9;
  color: $neutral-0;
}

::-webkit-scrollbar {
  width: 1vmin;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($wine, 0.6);
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100%;
  width: 100%;
}

.app__nav {
  grid-area: header;
  font-size: 6vmin;
  padding: $global-padding;
  display: flex;
  justify-content: flex-end;

  a {
    margin: 0 4vmin;

    &.router-link-active {
      color: $wine;
    }

    &:hover,
    &:focus,
    &:active {
      color: $neutral-1;
    }
  }

  @include sm {
    font-size: 4vmin;

    a {
      margin: 0 2vmin;
    }
  }
}

.app__content {
  padding: $main-padding $main-padding 0;
  grid-area: main;
  overflow-x: hidden;
  overflow-y: scroll;

  @supports (-webkit-overflow-scrolling: touch) {
    -webkit-overflow-scrolling: touch;
  }
}

.app__footer {
  grid-area: footer;
  padding: $global-padding;
}
