body {
  background-color: $neutral-9;
  color: $neutral-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app__content {
  padding: 12vmin 2vmin 0;
}

.nav {
  font-size: 4vmin;
  float: right;

  a {
    text-transform: lowercase;

    &.router-link-exact-active {
      color: $neutral-3;
    }

    &:hover,
    &:focus,
    &:active {
      color: $neutral-1;
    }
  }
}
