.italic {
  font-family: $heading-font-family;
  font-style: italic;
  font-weight: 300;
}

.normal {
  font-family: $body-font-family;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

iframe {
  max-height: 45vmin;
  max-width: 80vmin;

  @include sm {
    max-height: auto;
    max-width: auto;
  }
}
