body {
  font-family: 'IBM Plex Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  color: $scarlet;
}

h1 {
  font-size: 10vmin;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 6vmin;
  line-height: 8vmin;
}

i {
  font-size: 2rem;
}

a {
  @include transition(0.2s);
  outline: 0;
  text-decoration: none;
  position: relative;
  color: $accent;
  box-shadow: inset 0 -0.4rem 0 0 $link-accent;

  &:hover,
  &:focus,
  &:active {
    color: $neutral-1;
    box-shadow: inset 0 -0.2rem 0 0 $accent;
  }
}

.italic {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
}
