body {
  font-family: $body-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-style: italic;
  font-weight: 300;
  color: $scarlet;
  margin-top: 0;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
}

h5 {
  font-size: $h5-size;
}

p {
  font-size: $p-size;
  line-height: $p-line-height;
}

i {
  font-size: 2rem;
}

a {
  @include transition(0.2s);
  outline: 0;
  text-decoration: none;
  position: relative;

  &:not(.block-link) {
    color: $accent;
    box-shadow: inset 0 -0.4rem 0 0 $link-accent;

    &:hover,
    &:focus,
    &:active {
      color: $neutral-1;
      box-shadow: inset 0 -0.2rem 0 0 $accent;
    }
  }
}

.fa-icon {
  width: auto;
  height: 8vmin;

  @include sm {
    height: 4vmin;
  }
}
