$white: #ffffff;
$black: #000000;

// Primary colors
$red: #d54848;
$ruby: #d13737;
$scarlet: #be2c2c;
$garnet: #982e30;
$wine: #88292b;

$neutral-0: #fefdfd;
$neutral-1: #c9c9c9;
$neutral-2: #ababab;
$neutral-3: #999999;
$neutral-4: #474747;
$neutral-5: #383838;
$neutral-6: #292929;
$neutral-7: #242424;
$neutral-8: #1f1f1f;
$neutral-9: #151515;

$accent: $ruby;
$link-accent: rgba($wine, 0.4);

$global-padding: 2vmin;
$main-padding: $global-padding + 6vmin;
